/* img {
    width: 50%;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;
}   */

.left_text {
    width: 50%;
}

.center {
    text-align: center;
}

p {
    width: 65%;
    font-size: x-large;
    color: white;
    margin: auto;
}

body {
    background-color: rgb(72, 24, 34);
}

h1 {
    color: rgb(176, 172, 172);
    font-size: 65px;
}

.box1 {
    padding: 20px;
    border: 10px solid black;
    text-align: center;
    width: 50%;
    color: white;
    background-color: grey;
    margin: auto;
}
.float {
    float: right;
}

.spooky {
    color:rgb(226, 9, 49);
    font-family: cursive;
}

.column {
    width: 400px;
    float:left;
    color:white;
    margin: auto;
}

.column_right {
    width: 400px;
    float:right;
    color:white;
}

.centered_image {
    margin: auto;
    width: 40%;
    height: auto;
    display: block;
}

body {
    background-image: url("img/night_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: white;
    font-size: 40px;
}

.header {
    background-image: url(img/blood-drip.jpeg);
    height: 180px;
    border-top: 50px solid black;
    border-bottom: 50px solid black;
}

ul {
    font-size: xx-large;
}

.spooky2 {
    color:rgb(226, 9, 49);
    font-family: cursive;
    font-size: xx-large;
}